.photo1 {
  width: 370px;
}

.photo2 {
  width: 370px;
}

.photo3 {
  width: 370px;
}

.photo4 {
  width: 270px;
}

.photo5 {
  width: 270px;
}

.photo6 {
  width: 270px;
}

.photo7 {
  width: 270px;
}
